
<h1 class=" text-h1">CHECK LIST</h1>

<table class="check-table">

  <thead>
    <tr>
      <th>ID</th>
      <th>Employee</th>
      <th>Check-In Time</th>
      <th>Check-Out Time</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>



  <tbody>
    <tr *ngFor="let check of checkIns">
      <td>{{ check.id }}</td>
      <td>{{ getEmployeeName(check.id) }}</td>
      <td>{{ check.checkInTime || 'N/A' }}</td>
      <td>{{ check.checkOutTime || 'N/A' }}</td>
      <td>{{ check.status ? 'Active' : 'Inactive' }}</td>
      <td>
        <button (click)="deleteCheckIn(check.id)" class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

