
<h1 class=" text-h1">FORMULARIO DE CHECK-IN-OUT</h1>

<table class="check-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Employee ID</th>
      <th>Check-In Time</th>
      <th>Check-Out Time</th>
      <th>Status</th>
      <th>Options</th>
    </tr>
  </thead>



  <tbody>
    <tr *ngFor="let check of checkIns">
      <td>{{ check.id }}</td>
      <!-- <td>{{ check.employeeId }}</td>  -->
       <!-- I have an error here  -->
      <!-- <td>{{ getEmployeeId(checkIn) }}</td> Pass a parameter to the getEmployeeCheckOut method -->
      <td>{{ getEmployeeName(check.id) }}</td>
      <td>{{ check.checkInTime || 'N/A' }}</td>
      <td>{{ check.checkOutTime || 'N/A' }}</td>
      <td>{{ check.status ? 'True' : 'False' }}</td>
      <td>
        <button (click)="deleteCheckIn(check.id)" class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </tbody>
</table>