.mat-elevation-z8 {
  margin: auto;
  width: 90%;
}

.mat-column-id {
  width: 10%;
  /* Space */
}

.mat-column-name {
  width: 10%;
  /* Space */
}

.mat-column-position {
  width: 10%;
  /* Space */
}

.mat-column-department {
  width: 10%;
  /* Space */
}

.mat-column-email {
  width: 10%;
  /* Space */
}


.mat-column-actions {
  width: 10%;
  /* Space */
}


/* Center of the text*/
.mat-cell,
.mat-header-cell {
  text-align: center;
}




/* H1 */
.text-h1 {

  font-size: 40px;
  margin: 20px 0;
  text-align: center;

}

.mat-mdc-form-field {
  font-size: 14px;
  width: 50%;
}