.dialog-container {
    width: 500px; /* Form */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Columns */
    gap: 20px; /*Space */
    width: 100%; 
    margin-bottom: 20px; 
}

.section-title {
    font-size: 18px; 
    font-weight: 500; 
    margin-bottom: 10px; 
    text-align: left; 
    /* color: #000000;  */
}

mat-form-field {
    width: 100%; 
}

.action {
    display: flex;
    justify-content: space-between; 
    width: 100%; 
    padding: 10px 25px 20px; 
    gap: 10px; 


}

.action button {
    flex: 1; 

}

.text-h1 {
    font-size: 40px;
}
