<mat-toolbar class="mat">
  <span class="title">CheckSystem</span>
  <span class="example-spacer"></span>

  
  <button mat-raised-button (click)="openAddEditEmployee()">
    ADD EMPLOYEE  
  </button>
  <span class="tbns"></span>


  <button mat-raised-button (click)="openAddCheckIn()">
    ADD CHECKIN  
  </button>

  <span class="tbns"></span>
<!-- 
  <button mat-raised-button (click)="openDepartmentPosition()">
    ADD DETAILS
  </button> -->
  <!-- <button mat-raised-button (click)="openAddEmployeeList()">
    EMPLOYEE LIST  
  </button> -->
  
  <button mat-raised-button [matMenuTriggerFor]="detailsMenu">ADD DETAILS</button>

  <mat-menu #detailsMenu="matMenu">
    <button mat-menu-item (click)="openAddDepartment()">Departments</button>
    <button mat-menu-item (click)="openAddPosition()">Positions</button>
  </mat-menu>
  


</mat-toolbar>



<!-- <nav>
  <a routerLink="/employee-list">Employee List</a>
  <a routerLink="/check-list">Check List</a>
</nav> -->

<!-- <router-outlet></router-outlet> -->

<div class="content">
  <div class="links-cuadro">
    <a routerLink="/employee-list">Employee List</a>
    <!-- <br> -->
    <a routerLink="/check-list">Check List</a> 
    <!-- <br> -->
    <a routerLink="/department-list">Department List</a> 
    
    <a routerLink="/position-list">Position List</a>
    <a routerLink="/check-department-list">Check Department List</a>

  </div>
  
  <router-outlet></router-outlet>
</div>



<!-- <span class="space"></span> s -->
