<mat-toolbar class="mat">
  <span class="title">CheckSystem</span>
  <span class="example-spacer"></span>

  
  <button mat-raised-button (click)="openAddEditEmployee()">
    ADD EMPLOYEE  
  </button>
  <span class="tbns"></span>


  <button mat-raised-button (click)="openAddCheckIn()">
    ADD CHECKIN  
  </button>

  <!-- <button mat-raised-button (click)="openAddEmployeeList()">
    EMPLOYEE LIST  
  </button> -->


</mat-toolbar>

<!-- import {MatPaginatorModule} from '@angular/material/paginator'; -->


<!-- <nav>
  <a routerLink="/employee-list">Employee List</a>
  <a routerLink="/check-list">Check List</a>
</nav> -->

<!-- <router-outlet></router-outlet> -->




<br>
<br>
<br>
<a routerLink="/employee-list">Employee List</a>
<br>
<a routerLink="/check-list">Check List</a>

<router-outlet></router-outlet>

<!-- <span class="space"></span> -->
