.mat-elevation-z8 {
  margin: auto;
  width: 90%;
 }

.mat-column-id {
  width: 29%;
  /*Space*/
}

.mat-column-name {
  width: 40%;
 /*Space*/
}

.mat-column-actions {
  width: 40%; /*Space*/
}

/* Center the text*/
.mat-cell,
.mat-header-cell {
  text-align: center;
}

/* H1 */
.text-h1 {

  font-size: 40px;
  margin: 20px 0;
  text-align: center;

}

.mat-mdc-form-field {
  font-size: 14px;
  width: 50%;
}

/* Status */
.status-icon-active {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
  margin-right: 5px;
}

.status-icon-inactive {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  margin-right: 5px;
}
