.content {
    padding-top: 10px;


}

.dialog-container{
    width: 400px; 

}


.row {
    display: flex;
    gap: 10px;
}

mat-form-field {
    width: 100%; 
}

.action {
    display: flex;
    justify-content: space-between;
    padding: 0px 25px 20px;
    gap: 10px;
}

.action button {
    flex: 1; 
}

.text-h1 {
    font-size: 40px; 
    text-align: center;
    margin: 10px 0;
}
