.mat-elevation-z8 {
  margin: auto;
  width: 90%;
}

.mat-column-id {
  width: 19%;
  /* space */

}

.mat-column-name {
  width: 30%;
}

.mat-column-departmentName {
  width: 30%;
}

.mat-column-actions {
  width: 40%;
}

/* Text center */
.mat-cell,
.mat-header-cell {
  text-align: center;
}



/* H1 */
.text-h1 {

  font-size: 40px;
  margin: 20px 0;
  text-align: center;

}



.mat-mdc-form-field {
  font-size: 14px;
  width: 50%;
}